.checkout-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.event-image {
    width: 30%;
    height: auto;
    border-radius: 8px;
    margin-top: 25px;
}

.checkout-form {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.checkout-form h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.price-tickets-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-group {
    width: 45%;
}

.price-input,
.tickets-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 16px;
}

.quantity-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quantity-arrow {
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.quantity-arrow:hover {
    background-color: #bbb;
}

.StripeElement {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    font-size: 16px;
}

.checkout-form button {
    background-color: #ffcc00;
    color: #333;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout-form button:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

.checkout-form button:hover:not(:disabled) {
    background-color: #ffdd33;
}

.error-message {
    color: red;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
}
