body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    width: 100%;
}

.header {
    width: 100%;
    background-color: #1A1B6B;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.event-form-container {
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 95%;
    max-width: 1200px;
    margin: 80px auto 20px auto;
    text-align: center;
}

.event-form-container h2 {
    color: #333333;
    margin-bottom: 30px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    color: #333333;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-group input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.9);
    color: #333333;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border: 2px solid #4C088A;
}

.form-group input[type="file"] {
    padding: 3px;
}

button {
    width: 100%;
    padding: 14px;
    background: #4C088A;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #7132b4;
}

.event-form-container p {
    color: #ff6b6b;
    font-size: 14px;
    margin-top: -16px;
    margin-bottom: 20px;
}
