.slideshow-container {
    position: relative;
    max-width: 70%;
    height: auto;
    margin: auto;
}

.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.mySlides.active {
    display: block;
}

.fade {
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from { opacity: 0.4; }
    to { opacity: 1; }
}
