.proof-of-payment-page {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    color:  #ffffff;
  }
  
  .transactions-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .transactions-table th,
  .transactions-table td {
    border: 1px solid #063fab;
    padding: 8px;
    color: #f9f9f9;
    text-align: center;
  }
  
  .transactions-table th {
    background-color: #f4f4f4;
    font-weight: bold;
    color: #0c0b0b;
  }

  .transactions-table tr:hover {
    background-color: #20088a;
    font-weight: bold;
  }
  